header{
    height:150px;
    width:1200px;
    background-color: #c4c4c4;
}
#nav{
    margin-left: 10px;
    padding-bottom: 20px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom
}
a:hover{
    border-bottom: solid black 5px;
}

h1{
    text-align: center;

}
.first h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    padding:5px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .second h3{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    padding:5px;

  }
  .henna p{
      color: black;
      font-weight: bolder;
  }
  .hido p{
    color: black;
    font-weight: bolder;
}
.ring p{
    color: black;
    font-weight: bolder;
}
.hair p{
    color: black;
    font-weight: bolder;
}
  .text p{
      position:absolute;
      color: black;
      padding: 5px;
      top: 350px;
      font-weight: bolder;
  }
  .set p{
    position:absolute;
    color: black;
    padding: 5px;
    top: 700px;
    font-weight: bolder;
  }
  .test p{
    position:absolute;
    color: black;
    padding: 5px;
    top: 900px;
    font-weight: bolder;
}
.txt p{
    position:absolute;
    color: black;
    padding: 5px;
    top: 1080px;
    font-weight: bolder;

}

  /* four image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .third h3{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    padding:5px;
  }
  .perform p{
      color: black;
      font-weight: bolder;
  }
  .goud p{
      color: black;
      font-weight: bolder;
 }
 .milk p{
    color: black;
    font-weight: bolder;
}

.forth h3{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    padding:5px;
}
.mat p{
    color: black;
    font-weight: bolder;
}
.graf p{
    color: black;
    font-weight: bolder;
}
.skully p{
    color: black;
    font-weight: bolder;
}