body{
    background-image: url(./images/shuka.jpg);
}
header{
    background-color: #c4c4c4;
    opacity: 1;
    margin-bottom: 2px;


}
#nav{
    margin-left: 10px;
    padding-bottom: 20px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 5px white solid;
}
a:hover{
    border-bottom: black 5px solid;
}header{
    background-color: #c4c4c4;
    opacity: 1;
    margin-bottom: 2px;


}
#nav{
    margin-left: 10px;
    padding-bottom: 20px;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 5px white solid;
}
a:hover{
    border-bottom: black 5px solid;
}
p{
    background-color: #c4c4c4;
    text-align: center;
    
}
#footer{
    background-color: #c4c4c4;
    width: auto;
    height: 80px;
    clear: both;
    margin:auto;
    text-align: center;
    padding: 20px;

}
#footer>a{
    padding-left: 20px;
    border-bottom: none;

}
#footer>a:hover{
    border-bottom: oldlace 5px solid;
}

i{
    font-size: 20px;
    padding: 20px;
    /*float: left; */

}